* {
  box-sizing: border-box;
}

body {
  background: #f4f7fa;
  color: #333;
  font-family: "Open Sans", sans-serif;
}

.forTesting {
  color: chocolate;
  font-size: large;
  text-decoration: underline;
}
